
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: gray;
    overflow: hidden;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.navbar .logo{
    float: left;
    width: 40%;
    margin: 10px 0 0 10px;
}

.navbar .link{
    float: left;
    width: 50%;
}
.navbar .link li{
    display: inline-block;
    padding: 30px;
}
.navbar .link li a:link{
    text-decoration: none;
}
.allinfo{
    display:flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

}
.imgw{
    margin: 10px 5% 0 13%;
   
}
img{
    border-radius: 50%;
    overflow: hidden;
}
.p1{
    margin: 10px 90px 10px 150px;
    color: red;
}
.p2{
    width: 400px;
    margin: 0 550px 0 0;
    border: 5px solid darkgray;
    overflow: hidden;
    
}
.user{

    margin:80px 0 ;
}
.header-user{
    color: darkred;
    display: flex;
    justify-content: center;
    margin: 50px 0;

}
.form-contact{
    display: flex;
    justify-content:center;
}
.label-contact label{
    
    display: flex;
    margin: 0 50px 0 0;

}
.input-contact input{
    display: flex;
    

}
.input-contact textarea{
    width: 171.47px;
}
.fname{
    margin: 20px;
}






footer{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    
}