
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: gray;
    overflow: hidden;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.navbar .logo{
    float: left;
    width: 40%;
    margin: 10px 0 0 10px;
}

.navbar .link{
    float: left;
    width: 50%;
}
.navbar .link li{
    display: inline-block;
    padding: 30px;
}
.navbar .link li a:link{
    text-decoration: none;
}

table{
    width: 350px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
   
}
.checked{
    background-color: green;
}
.uncheck{
    background-color: red;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 70px 0;
}
.tab{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 300px 0;
    
}


footer{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    
}